body {
    
background-image: url(../img/fundo.1600.jpg);
background-repeat: no-repeat;
background-size: center center;

}

.Topo {

    width: 100%;    

}

.Titulo1 {

background-color: rgb(131, 124, 28);
color: rgb(0, 0, 0);
font-family: Georgia, 'Times New Roman', Times, serif;  
border: 1px solid black;
border-radius: 50px;
font-size: xx-large;
text-align: center ;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
margin-right: 50px;
margin: 50px 50px 50px 50px;
padding-top: 20px;
padding-bottom: 20px;


}


.Paragráfo1 {

background-color: white;
color: rgb(0, 0, 0);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: x-large;
border: 1px solid black;
border-radius: 50px;
text-align: center;
margin: 50px;
margin-top: 50px;
margin-bottom: 50px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 100px;
padding-right: 100px;
}

.button1 {
border-radius: 20px;
    background-color: black;
    
display: block;
margin: auto;

}



.Menu {

background-color: rgb(39, 38, 38);
text-align: center;
display: block;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;

}